.bg{
    background: url('../DesarrolloWebPan/Imagenes/backgroundContact.jpg') repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.contactanos{
    color: white;
    top: 5vh;
    padding: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
}

.formContainer{
    top: 5px;
    padding: 30px;
    background-color: transparent;
    color: white;
}
.box{
    opacity: 0.8;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 40%;
}

.checkbox {
    margin-left: 10px;
}