/*MIXIN*/
/*INICIO*/

.navbar{
  background-color: black !important;
  height: 70px; }

.navbar-nav li a {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: white !important;
}

.navbar-nav li a:hover {
  color: grey !important;
  font-style: italic; }

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: gray !important;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 0.8;
}

#navbarNav {
  background-color: black !important;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

.inicio__carousel {
  width: 100%;
  height: auto;
  margin: 0!important;
  background-size: cover;
  top: 20px;
  z-index: -2;
}

.carousel-item {
  opacity: 0.9; 
}

.inicio__carousel--title {
  color: #fff;
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 0;
  width: 100%;
  text-align: center; }

.inicio__carousel--title h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6vw; }

.animate__fadeInUpBig {
  animation-duration: 2s; }

@media (min-width: 576px) {
  .inicio__carousel--title {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center; }

  .footer-container {
    margin-bottom: 0 auto;
    padding-top: 320px;
  }
    .carousel-item {
      background-size: center;
    }
}  
@media (min-width: 768px) {
  /*INICIO*/
  .inicio__carousel--title {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center; }
    /*LOCAL*/
    .flip-card {
      padding-left: 20% !important;
    }
    .descriptionLocal h1 {
     font-size: 50px !important;
     padding-left: 50%;
     margin-top: -35% !important;
     margin-bottom: 0 auto;
    }
    .descriptionLocal p {
      font-size: 15px !important;
      padding-left: 50% !important;
    }
    .descriptionMap h2 {
      padding-top: -30% !important;
    }
    /*NOSOTROS*/
    .nosotros__carousel {
      padding-top: 30%;
  }
  .footer-container {
    margin-bottom: 0 auto;
    padding-top: 210px;
  }
  .carousel-item {
    background-size: center;
    
  }
}
@media (min-width: 992px) {
  .inicio__carousel--title {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center; }
    .descriptionLocal h1 {
      font-size: 45px !important;
    }
    .descriptionLocal p {
      font-size: 15px !important;
    }
    .descriptionMap h2 {
      padding-top: -30% !important;
    }
  .footer-container {
    margin-bottom: 0 auto;
    padding-top: 165px;
  }
}
@media (min-width: 1200px) {
  .inicio__carousel--title {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center; }
  .footer-container {
    margin-bottom: 0 auto;
    padding-top: 165px;
  }
}

.footer-container{
  overflow: hidden;
  padding-top: -150px;
  background: black;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer{
    
    bottom: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
  }

.footer-link{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.footer-link:hover {
  color: grey;
  font-style: italic; }

h2{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0;
}

/*NOSOTROS*/
.nosotros {

  top: 5px;
  padding: 30px; }

.nosotros__content h1 {
  top: 1vh;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6vw; }

.nosotros__content p {
  margin-top: 2px;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  word-spacing: 3px;
  padding-bottom: 15px; }


/*LOCAL*/

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 310px;
  border: transparent;
  perspective: 1000px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 5px;
}

.flip-card-inner {
  position: relative;
  width: 400px;
  height: 310px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 400px;
  height: 310px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.contentLocal{
  margin-bottom: 0 auto;

}

.descriptionLocal{
  margin-top: 150px;
}

.descriptionLocal h1 {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 55px;
  color: black;
}

.descriptionLocal p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  word-spacing: 3px;
}

.descriptionMap h2 {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: black;
  padding-top: 110px;
}

.descriptionMap p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  word-spacing: 3px;
  text-align: left;
}

.map-container{
  overflow:hidden;
  padding-bottom: 35%;
  position:relative;
  height:0;
  padding-left: 55px;
  }

  .map-container-2 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position: relative;
  }


/*TIENDA*/
.tienda_body {
  margin-top: 30px;
}

.tienda_body-row {
  margin-bottom: 45px;
}

.imagen-producto{
  position: relative;
  width: 50%;
  margin-top: 50px;
}

.image{
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.imagen-producto:hover .overlay {
  opacity: 0.8;
  width: 100%;
}

.text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: left;
  color: black;
  font-style: bold;
  font-size: 23px;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.buttonComprar{
    text-align:center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 85%;
    color: black;
    background: white;
    border: 1px solid #0A948F;
    padding: 5px 20px;
    display: inline-block;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

.buttonComprar:hover {
    background: #0A948F;
    text-decoration: none;
    color: black;
    }


/*CONTACTO*/

.contacto {
  background: url("../Imagenes/backgroundContact.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.contacto__title {
  color: white;
  top: 5vh;
  padding: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6vw; }

.contacto__form {
  top: 5px;
  padding: 30px;
  background-color: transparent;
  color: white; }

.box {
  opacity: 0.8;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 40%; }

.checkbox {
  margin-left: 10px; }
